/* for learnig card flipping  */
.perspective {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backText {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  color: #fff;
  font-feature-settings: "dlig" on;
  font-size: 1rem;
  line-height: 1.2em;
  padding: 1rem 0.5rem 0.5rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  text-align: center;
}
.titleShadow {
  text-shadow: 0 0 6px #2d6248;
}
